@model MathQuizApp.Models.MathProblem

<form method="post" id="123" asp-action="Submit" asp-controller="Home">
    <h2>Решите пример:</h2>
    <p>@Model.Num1 @Model.Operator @Model.Num2 = ?</p>

    <input 
        name="useranswer"
        class="form-control"
        style="width: 200px; background-color:
            @(Model.IsCorrect == true ? "lightgreen" :
              Model.IsCorrect == false ? "lightcoral" : "" )"        
     />
     
     <span asp-validation-for="UserAnswer" class="text-danger"></span>
     
          <button type="submit">Отправить</button> 

</form>

<script>
    document.querySelector("#123").addEventListener("submit", (e) => {e.preventDefault()})
</script>
